@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
.header_content {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  align-items: center;
}
.header_content_switch {
  cursor: pointer;
}
.search_content {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
@media screen and ((max-width: 768px)) {
  .search_content {
    display: block;
  }
}
.search_content_bars {
  width: 265px;
  height: 45px;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  background: #fff;
  cursor: pointer;
}
.search_content_bars--active {
  border: 1px solid #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.search_content_bars--dark {
  background-color: #0c0c0c;
  border-color: #fff;
  color: #fff;
}
.search_content_bars--active--dark {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.search_content_bars--created--active {
  border-bottom: 0;
}
@media screen and ((max-width: 1366px)) {
  .search_content_bars {
    width: 220px;
  }
}
@media screen and ((max-width: 1024px)) {
  .search_content_bars {
    width: 160px;
  }
}
@media screen and ((max-width: 768px)) {
  .search_content_bars {
    width: 100%;
    margin-top: 15px;
  }
}
.search_content_bars_input {
  padding: 0;
  box-sizing: border-box;
  width: 265px;
  height: 45px;
  padding-left: 15px;
  cursor: auto;
}
.search_content_bars_input:focus {
  outline: none;
  border: 1px solid #000;
}
.search_content_bars_input--dark {
  background: #0c0c0c;
  color: #fff;
  border-color: #fff;
}
.search_content_bars_input--dark:focus {
  border-color: #fff;
}
@media screen and ((max-width: 1366px)) {
  .search_content_bars_input {
    width: 220px;
  }
}
@media screen and ((max-width: 1024px)) {
  .search_content_bars_input {
    width: 160px;
  }
}
@media screen and ((max-width: 768px)) {
  .search_content_bars_input {
    width: 100%;
  }
}
.search_content_select {
  position: relative;
}
.search_content_select ::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}
.search_content_select ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7b7b7b;
}
.search_content_select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.3) transparent;
  border-radius: 1px;
  pointer-events: none;
}
@media screen and ((max-width: 768px)) {
  .search_content_select::before {
    top: 65%;
  }
}
.search_content_select--dark::before {
  border-color: rgba(255, 255, 255, 0.3) transparent;
}
.search_content_select .clear::after {
  content: "\00d7";
  position: absolute;
  top: 50%;
  right: 36px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
@media screen and ((max-width: 768px)) {
  .search_content_select .clear::after {
    top: 65%;
  }
}
.search_content_select--dark .clear::after {
  color: rgba(255, 255, 255, 0.3);
}
.search_content_dropdown {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  list-style-type: none;
  width: 99.5%;
  height: 300px;
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
.search_content_dropdown--dark {
  background-color: #0c0c0c;
  border-color: #fff;
  color: #fff;
}
.search_content_dropdown .search_content_dropdown_item {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.search_content_dropdown .search_content_dropdown_item:hover {
  background-color: #000;
  color: #fff;
}
.search_content_dropdown .search_content_dropdown_item--dark:hover {
  color: #000;
  background-color: #fff;
}
.search_content_dropdown--active {
  display: block;
}
@media screen and ((max-width: 1366px)) {
  .search_content_dropdown {
    height: 400px;
    width: 99%;
  }
}
@media screen and ((max-width: 1024px)) {
  .search_content_dropdown {
    height: 400px;
  }
}
@media screen and ((max-width: 768px)) {
  .search_content_dropdown {
    height: 100vh;
    width: 99.2%;
  }
}
.search_content_dropdown_created {
  display: none;
  justify-content: space-around;
  position: absolute;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 99.5%;
  height: 130px;
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}
.search_content_dropdown_created input {
  border: 0;
  box-sizing: border-box;
  background: #efefef;
  border-radius: 8px;
  width: 95px;
  height: 45px;
  padding: 15px;
  margin: 0;
}
.search_content_dropdown_created input:focus {
  outline: none;
  border: 1px solid #000;
}
.search_content_dropdown_created span {
  border: 1px solid #000;
  width: 12px;
  height: 0px;
}
.search_content_dropdown_created--dark {
  background-color: #0c0c0c;
  border-color: #fff;
}
.search_content_dropdown_created--dark span {
  border-color: #fff;
}
.search_content_dropdown_created--dark input {
  background: #fff;
}
.search_content_dropdown_created--dark input:focus {
  border: 0px;
}
.search_content_dropdown_created--active {
  display: flex;
}
@media screen and ((max-width: 1366px)) {
  .search_content_dropdown_created--active {
    display: block;
    width: 99%;
  }
  .search_content_dropdown_created--active input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 55px;
    width: 110px;
  }
  .search_content_dropdown_created--active span {
    display: block;
    margin-left: 100px;
  }
}
@media screen and ((max-width: 1024px)) {
  .search_content_dropdown_created--active input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  .search_content_dropdown_created--active span {
    margin-left: 70px;
  }
}
@media screen and ((max-width: 768px)) {
  .search_content_dropdown_created--active {
    display: flex;
    width: 99.2%;
  }
  .search_content_dropdown_created--active input {
    margin: 0;
    width: 110px;
  }
  .search_content_dropdown_created--active span {
    display: inline-block;
    margin: 0;
  }
}
.gallery_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 45px;
}
@media screen and ((max-width: 1024px)) {
  .gallery_content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and ((max-width: 768px)) {
  .gallery_content {
    grid-template-columns: 1fr;
  }
}
.gallery_img {
  width: 360px;
  height: 275px;
  border-radius: 20px;
}
@media screen and ((max-width: 1366px)) {
  .gallery_img {
    width: 300px;
    height: 230px;
  }
}
@media screen and ((max-width: 1024px)) {
  .gallery_img {
    width: 340px;
    height: 249px;
  }
}
@media screen and ((max-width: 768px)) {
  .gallery_img {
    width: 280px;
    height: 205px;
  }
}
.gallery_img_box {
  position: relative;
  display: inline-block;
}
.gallery_img_box:hover .gallery_img_content {
  height: 40%;
}
.gallery_img_box:hover .gallery_img_content .gallery_img_content_text {
  display: block;
}
.gallery_img_content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  bottom: 4px;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0;
  width: 100%;
  height: 30px;
}
.gallery_img_content .gallery_img_content_title {
  padding-left: 15px;
}
.gallery_img_content .gallery_img_content_text {
  display: none;
  padding-left: 15px;
  font-size: 13px;
  line-height: 20px;
}
.gallery_img_content .gallery_img_content_text .gallery_img_content_info {
  font-weight: 300;
  margin-left: 8px;
}
.pagination_content {
  padding: 45px 0;
}
.pagination_content .pagination_content_button {
  border: 1px solid #000;
  border-right: 0;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.pagination_content .pagination_content_button--active {
  background: #000;
  color: #fff;
  pointer-events: none;
}
.pagination_content .pagination_content_button:disabled {
  border: 1px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.pagination_content .pagination_content_button:hover {
  background: #ededed;
}
.pagination_content .pagination_content_button--dark {
  border-color: #fff;
  background: #000;
  color: #fff;
}
.pagination_content .pagination_content_button--dark:disabled {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
.pagination_content .pagination_content_button--dark:hover {
  background: #464646;
}
.pagination_content .pagination_content_button--active--dark {
  background: #fff;
  color: #000;
  pointer-events: none;
}
.pagination_content .pagination_content_button:last-child {
  border-right: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pagination_content .pagination_content_button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pagination_content .pagination_content_button--dark:last-child {
  border-right: 1px solid #fff;
}
.pagination_content .pagination_content_button:disabled {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.pagination_content .pagination_content_button--dark:disabled {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  font-family: "Roboto";
}
@media screen and ((max-width: 1366px)) {
  .container {
    max-width: 940px;
  }
}
@media screen and ((max-width: 1024px)) {
  .container {
    max-width: 700px;
  }
}
@media screen and ((max-width: 768px)) {
  .container {
    max-width: 280px;
  }
}
.all_content {
  background-color: black;
  min-height: 100vh;
}
