@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'vars';
@import 'blocks/header.less';
@import 'blocks/search.less';
@import 'blocks/gallery.less';
@import 'blocks/pagination.less';

.container{
    max-width: 1120px;
    margin: 0 auto;
    font-family:'Roboto';

    @media screen and (@desktop) {        
        max-width: 940px;        
    }
    @media screen and (@tablet) {        
        max-width: 700px;        
    }
    @media screen and (@mobile) {        
        max-width: 280px;        
    }
}

.all_content{
    background-color: black;
    min-height: 100vh;
    
}

